* {
    padding: 0px;
    margin: 0px;
    font-family: 'Ubuntu', sans-serif;
    color:rgb(30, 30, 30);
}
body {
    background-color: #eee;
}
header {
    color: rgb(108, 199, 34);
    font-size: 20px;
    width: 400px;
    padding: 20px;
    margin: auto;
    margin-top: 50px;
    text-align: center;
}
nav {
    width: 335px;
    margin: auto;
}
.searchBar {
    padding: 8px;
    margin-top: 10px;
    border-radius: 3px;
    border: none;
    font-size: 16px;
    background-color: white;
}
ul {
    list-style: none;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
li {
    margin-right: 30px;
    display: inline;
}
.block {
    max-width: 1200px;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
}
h1 {
    margin-bottom: 10px;
    color: #69BE28;
}
p {
    font-size: 18px;
    margin-top: 5px;
}
.dataTable {
    width: 70%;
    background-color: white;
    border-radius: 5px;
    border-color: black;
    margin: auto;
    padding: 0px;
}
th {
    color: #69BE28;
    font-size: 22px;
    text-align: left;
    padding: 15px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin: 0px;
}
td {
    padding: 15px;
    margin: 0px;
    border-width: 5px;
    border-color: black;
}
.shadedRow {
    background-color: rgb(245, 245, 245);
}